<h2>Welcome, Vendors</h2>

<% @vendors.each do |vendor| %>
  <h3><%= vendor.name %></h3>
  <%= vendor.market_id %>
  <%= vendor.location %>
<% end %>


<p><%= link_to "New vendor", "/vendors/new" %></p>
