<div class=index>


<h2>Welcome, Vendors</h2>


<p><%= link_to "New vendor", "/vendors/new" %></p>


<% @vendors.each do |vendor| %>
  <h3><%= vendor.name %></h3>
  <%= vendor.market_id %>
  <%= vendor.location %>
<% end %>

</div>
