
.new-vendor {
  background-color: #E2FFE4;
  font-family: georgia;
}

.new-vendor p {
  margin: 0;
  padding: 5px;
}

.new-vendor .page-header {
  background-color: #4B7F50;
  color: white;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;

}

.new-vendor .form {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #77CC7F;
}

.new-vendor .field-label {
  font-size: 14pt;
  width: 8%;
  display: inline-block;
}

.new-vendor h4 {
  font-size: 16pt;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.new-vendor .field-area {
  display: inline-block;
}

.new-vendor .home-button {
  padding: 10px;
  display: block;



html {
	margin: 0;
	padding: 0;
	}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 10px;
    padding:0;
		padding-bottom: 40px;
		margin-bottom: 0px;
		min-height: 900px;
}



.index {
  margin-top: 0;
}

.index h2{
  margin: 0;
  color: #4B7F50;
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 5em;

}
