<h2>Product landing page</h2>


<p><%= link_to "New products", "/products/new" %></p>
<a class = "home-button" href = "/">Home</a>

  <% @products.each do |product| %>
    <h4><%= link_to product.product_name.upcase, product_path(product.id) %></h4>
    <%= product.vendor_id %>
    <%= product.number_of_sales %>

  <% end %>
