<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>





<div class = "new-vendor">

  <div class = "page-header">
    <h2> New Product Registration</h2>
  </div>


  <h4>Please enter your product information, then click "create": </h4>

  <div class = "fields">
    <div class ="field_labels">
      <p>Name</p>
      <p>Vendor ID</p>
      <p>Number of Sales</p>
      <p>&nbsp;</p>
    </div>

    <div class = "field_input">
      <form action="/products" method="POST">
        <p><input type="text" name=product[product_name] value= "<%= @product.product_name %>" /></p>
        <p><input type="text" name=product[vendor_id] value= "<%= @product.vendor_id %>"/></p>
        <p><input type="text" name=product[number_of_sales] value= "<%= @product.number_of_sales %>" /></p>

        <div><input type="submit"/></p></div>
      </form>

  </div>

  <a class = "home-button" href = "/">Home</a>

</div>
